<div class="modal fade" [id]="idModal" tabindex="-1" aria-labelledby="#showCertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content text-bg-dark">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="showCertModalLabel"></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid rounded" [src]=urlCertificateImg alt="certificate">
            </div>
            <div class="modal-footer row justify-content-center align-items-center border-0 pt-0 pb-3">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <span class="opacity-75">Codigo de verificación:</span>
                    <button type="button" class="btn text-light border-0" data-bs-container="body"
                        data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Copiado">
                        <strong>{{validationCode}}</strong>
                        <i class="fa-solid fa-copy px-2"></i>
                    </button>
                </div>
                <a class="col-6" target="_blank"
                    [href]=urlCertificateValidation >
                    <button type="button" class="btn btn-primary w-100 btn-lg shadow-none my-3 mx-0">
                        Verificar</button>
                </a>
            </div>
        </div>
    </div>
</div>