<div class="modal fade bg-opacity-100" data-bs-backdrop="static" data-bs-keyboard="false" id="addEducModal"
    tabindex="-1" aria-labelledby="addEducModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-bg-dark container">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="addEducModalLabel"><strong class="text-light text-opacity-75">Agregar
                        educación</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <form 
                [formGroup]="addEducationForm"
                (ngSubmit)="submit($event)" 
                [ngClass]="{'was-validate': addEducationForm.invalid}" 
                class="col-12 col-md-10 container"
                novalidate
                >
                    <div class="row gy-2">
                        <div class="col-12">
                            <label for="inputInst" class="form-label opacity-75">Institución</label>

                            <input 
                            formControlName="institute" 
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="text" 
                            id="inputInst">

                        </div>
                        <div class="col-12">
                            <label for="inputTitulo" class="form-label opacity-75">Titulo</label>

                            <input
                                formControlName="title"
                                class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" 
                                id="inputTitulo">

                        </div>
                        <div class="col-12">
                            <label for="inputLogoInst" class="form-label opacity-75">Logo de la Institución</label>

                            <input 
                                formControlName="urlInstituteLogo"
                                (change)="captureFile($event)"
                                class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="file" 
                                id="inputLogoInst" 
                                accept="image/jpeg, image/webp, image/png">

                        </div>
                        <div class="col-12 p-3">
                            <div class="col-12 form-check form-check-reverse form-switch">

                                <input 
                                    formControlName="currentStudy"
                                    class="form-check-input" 
                                    type="checkbox" 
                                    role="switch" 
                                    id="flexSwitchCursando"
                                    checked>

                                <label class="form-check-label opacity-75 text-opacity-50"
                                    for="flexSwitchCursando">Actualmente cursando</label>
                            </div>
                        </div>

                        <div class="col-6" *ngIf="!getCurrentStudy">
                            <label for="imputMesFinEduc" class="form-label opacity-75">Mes de finalización</label>
                            <select 
                                formControlName="endMonthDate"
                                id="imputMesFinEduc"
                                class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Mes</option>
                                <option value=0>Enero</option>
                                <option value=1>Febrero</option>
                                <option value=2>Marzo</option>
                                <option value=3>Abril</option>
                                <option value=4>Mayo</option>
                                <option value=5>Junio</option>
                                <option value=6>Julio</option>
                                <option value=7>Agosto</option>
                                <option value=8>Septiembre</option>
                                <option value=9>Octubre</option>
                                <option value=10>Noviembre</option>
                                <option value=11>Diciembre</option>
                            </select>
                        </div>
                        <div class="col-6" *ngIf="!getCurrentStudy">
                            <label for="imputAnioFinEduc" class="form-label opacity-75">Año de finalización</label>
                            <select 
                                formControlName="endYearDate"
                                id="imputAnioFinEduc"
                                class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Año</option>
                                <option value=1980>1980</option>
                                <option value=1981>1981</option>
                                <option value=1982>1982</option>
                                <option value=1983>1983</option>
                                <option value=1984>1984</option>
                                <option value=1985>1985</option>
                                <option value=1986>1986</option>
                                <option value=1987>1987</option>
                                <option value=1988>1988</option>
                                <option value=1989>1989</option>
                                <option value=1990>1990</option>
                                <option value=1991>1991</option>
                                <option value=1992>1992</option>
                                <option value=1993>1993</option>
                                <option value=1994>1994</option>
                                <option value=1995>1995</option>
                                <option value=1996>1996</option>
                                <option value=1997>1997</option>
                                <option value=1998>1998</option>
                                <option value=1999>1999</option>
                                <option value=2000>2000</option>
                                <option value=2001>2001</option>
                                <option value=2002>2002</option>
                                <option value=2003>2003</option>
                                <option value=2004>2004</option>
                                <option value=2005>2005</option>
                                <option value=2006>2006</option>
                                <option value=2007>2007</option>
                                <option value=2008>2008</option>
                                <option value=2009>2009</option>
                                <option value=2010>2010</option>
                                <option value=2011>2011</option>
                                <option value=2012>2012</option>
                                <option value=2013>2013</option>
                                <option value=2014>2014</option>
                                <option value=2015>2015</option>
                                <option value=2016>2016</option>
                                <option value=2017>2017</option>
                                <option value=2018>2018</option>
                                <option value=2019>2019</option>
                                <option value=2020>2020</option>
                                <option value=2021>2021</option>
                                <option value=2022>2022</option>
                                <option value=2023>2023</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="upUbicacionExp" class="form-label opacity-75">Ubicacion</label>

                            <input 
                                formControlName="location"
                                class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="upUbicacionExp">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button 
                                type="submit" 
                                class="btn btn-primary btn-lg w-100 mt-2 mb-4"
                                [disabled]="addEducationForm.invalid"
                                data-bs-dismiss="modal"
                                >Agregar educación
                            </button>

                            <div 
                            [ngClass]="{'show': alertSubmit , 'fade': !alertSubmit}"
                            class="alert alert-success mt-4 show"
                            role="alert"           
                            >
                              <span class="fs-5">Nueva educación creada con éxito.</span>
                            </div>

                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>