<section id="proyectos" class="scroll py-2">
  <div class="container text-light my-4">
    <div class="d-flex align-items-center justify-content-center">
      <h2 class="px-4 display-4">Proyectos</h2>

      <app-trigger-add-item
        [addIdModal]="addIdModal" 
        [addTitleTriggerModal]="addTitleTriggerModal" 
        [addClassTriggerModal]="addClassTriggerModal"
      ></app-trigger-add-item>

    </div>
    <div class="row g-4 px-2 px-md-0 justify-content-center mt-2">

      <article 
        *ngFor="let project of projects"
        class="col-12 col-md-6 col-lg-3">
        <div class="card text-light bg-light bg-opacity-10 scale-hover-05">
          <a 
            [href]="project.urlProject" 
            target="_blank"
          >
            <img [src]=project.urlProjectImg class="card-img-top" alt="project">
          </a>
          <div class="card-body ">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{project.title}}</h5>

              <app-trigger-edit-item 
              [editIdModal]="'#editProjectModal'+project.id" 
              [editTitleTriggerModal]="editTitleTriggerModal" 
              [editClassTriggerModal]="editClassTriggerModal"
              ></app-trigger-edit-item>

            </div>
            <p class="card-text opacity-75">{{project.description}}</p>
          </div>
        </div>
        <app-edit-project-modal
        [project]=project 
        [idModal]="'editProjectModal'+ project.id"
        ></app-edit-project-modal>
      </article>

    </div>
  </div>
  <app-add-project-modal></app-add-project-modal>

</section>