<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editBannerModal" tabindex="-1"
    aria-labelledby="editBannerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-bg-dark container">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="editBannerModalLabel"><strong class="text-light text-opacity-75">Actualizar
                        imagen de portada</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body row justify-content-center">


                <form [formGroup]="bannerForm" class="col-12 col-md-10">

                    <div class="mb-4">
                        <label for="upBannerMobile" class="form-label opacity-50">
                            <small>Portada celulares dimensiones 940 x 430px</small></label>
                            
                        <input 
                        formControlName="bannerSm"
                        (change)="captureBannerSm($event)"
                        class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                        [ngClass]="{'is-valid': isValidField('bannerSm')  && !errorMaxSizeSm , 'is-invalid': isInvalidField('bannerSm') || errorMaxSizeSm }" 
                        type="file"
                        id="upBannerMobile" 
                        accept="image/jpeg, image/jpg, image/png, image/webp"
                        required>

                        <div class="invalid-feedback mx-1">

                            <span *ngIf="errorsFeedback('bannerSm', 'minlength')">El nombre de la imagen debe contener al
                                menos
                                {{ minLengthPictureName }}
                                <span *ngIf="minLengthPictureName === 1">carácter</span>
                                <span *ngIf="minLengthPictureName >= 2">caracteres</span>.
                            </span>

                            <span *ngIf="errorsFeedback('bannerSm', 'required')">Selecciona una imagen.</span>

                            <span *ngIf="errorsFeedback('bannerSm', 'maxlength')">El nombre de la imagen debe contener
                                menos de {{ maxLengthPictureName }} caracteres.
                            </span>

                            <span *ngIf="errorsFeedback('bannerSm', 'pattern')">Formato de imagen NO admitido. Los formatos
                                de imagen válidos son: .webp .jpg .jpeg y .png</span>
                        </div>

                        <span *ngIf=errorMaxSizeSm class="text-danger">La imagen es muy pesada, elige una imagen menor a
                            5Mb.</span>

                    </div>

                    <div class="my-4">
                        <label for="upBannerDesktop" class="form-label opacity-50">
                            <small>Portada PC-tablet dimensiones 1640 x 340px</small>
                        </label>

                        <input 
                        formControlName="bannerLg"
                        (change)="captureBannerLg($event)"
                        class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                        [ngClass]="{'is-valid': isValidField('bannerLg') && !errorMaxSizeLg , 'is-invalid': isInvalidField('bannerLg') || errorMaxSizeLg }" 
                        type="file"
                        id="upBannerDesktop" 
                        accept="image/jpeg, image/jpg, image/png, image/webp"
                        required>

                        <div class="invalid-feedback mx-1">

                            <span *ngIf="errorsFeedback('bannerLg', 'minlength')">El nombre de la imagen debe contener al
                                menos
                                {{ minLengthPictureName }}
                                <span *ngIf="minLengthPictureName === 1">carácter</span>
                                <span *ngIf="minLengthPictureName >= 2">caracteres</span>.
                            </span>

                            <span *ngIf="errorsFeedback('bannerLg', 'required')">Selecciona una imagen.</span>

                            <span *ngIf="errorsFeedback('bannerLg', 'maxlength')">El nombre de la imagen debe contener
                                menos de {{ maxLengthPictureName }} caracteres.
                            </span>

                            <span *ngIf="errorsFeedback('bannerLg', 'pattern')">Formato de imagen NO admitido. Los formatos
                                de imagen válidos son: .webp .jpg .jpeg y .png</span>
                        </div>

                        <span *ngIf=errorMaxSizeLg class="text-danger">La imagen es muy pesada, elige una imagen menor a
                            5Mb.</span>


                    </div>

                    <button 
                    type="button" 
                    (click)="update()" 
                    class="btn btn-primary btn-lg w-100  mt-2 mb-3"
                    [disabled]="this.bannerForm.invalid || errorMaxSizeSm || errorMaxSizeLg">
                    
                    <span *ngIf="!spinnerButton">Actualizar</span>

                    <div *ngIf="spinnerButton">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span> Actualizando...</span>
                    </div>
                    
                    
                </button>
                </form>


            </div>
        </div>
    </div>
</div>