<section class="container mt-4 mb-0">
  <div class="row g-4 px-2 px-md-0 py-4 justify-content-center">

    <div class="col-12 text-light order-first">
      <app-acerca-de></app-acerca-de>
    </div>

    <div class="col-12 col-md-6">
      <app-experiences></app-experiences>
    </div>

    <div class="col-12 g-4 col-md-6 container">      
      <app-education></app-education>

      <div class="row">        
        <div class="col-12 g-4">
          <app-certifications></app-certifications>
        </div>     
      </div>

    </div>
  </div>
</section>