<article>
  <div class="card bg-white bg-opacity-10 py-2">
    <div class="card-header d-flex justify-content-between text-light text-opacity-75">
      <h3><strong>Certificaciones & Cursos</strong></h3>

      <app-trigger-add-item
      [addIdModal]="addIdModal" 
      [addTitleTriggerModal]="addTitleTriggerModal" 
      [addClassTriggerModal]="addClassTriggerModal"
      ></app-trigger-add-item>

    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item bg-transparent border-top border-dark border-1 border-opacity-75 p-3">
        <div class="container">
          <div class="row">
            <div class="col-2 p-0">
              <img class="rounded-circle w-100" src="./assets/imagenes/logo1.webp" alt="">
            </div>
            <div class="col-10 text-light article-body container">
              <div class="d-flex justify-content-between">
                <h5 class="d-inline-block"><strong>#SéProgramar</strong></h5>
              
                <app-trigger-edit-item 
                [editIdModal]="editIdModal" 
                [editTitleTriggerModal]="editTitleTriggerModal" 
                [editClassTriggerModal]="editClassTriggerModal"
                ></app-trigger-edit-item>
                
              </div>
              <h6 class="opacity-75">Argentina Programa</h6>
              <div class="opacity-50">
                <span>Junio</span> - <span>2022</span>
              </div>
            </div>
            <div class="col-12 text-center">

              <app-trigger-show-certificate [idCertificateModal]="idCertificateModal"></app-trigger-show-certificate>
             
            </div>
          </div>
        </div>
        <app-show-certificate-modal></app-show-certificate-modal>
        <app-edit-certification-modal></app-edit-certification-modal>
      </li>

    </ul>
  </div>
  <app-add-certification-modal></app-add-certification-modal>
</article>