@import "../node_modules/bootstrap/scss/bootstrap.scss";

textarea {
    height: 8rem !important;
}

.btn-edit {
    display: visible;
    cursor: pointer;
}

/*
doesn't work in angular!!
.scroll {
    scroll-margin-top: 4.5rem;
} 
*/

@media (min-width: 992px) {
    .scale-hover-05:hover {
        scale: 1.1;
        transition: 120ms;
    }
}

 /* Experience */
 .article-body {
    padding: 0 0 0 1rem;
}

/* End experience */
