<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-bg-dark">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="loginModalLabel"><strong class="text-light text-opacity-75">Inicio de
                        sesión</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <form>
                    <div class="form-floating my-4">
                        <input type="text" class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            placeholder="@user" id="user-login" aria-describedby="emailHelp">
                        <label for="user-login" class="form-label">@Usuario</label>
                    </div>
                    <div class="form-floating mb-5">
                        <input type="password"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            id="Password-login" placeholder="Password">
                        <label for="Password-login" class="form-label">Contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 mb-4">Habilitar modo edición</button>
                </form>
            </div>
        </div>
    </div>
</div>