<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-bg-dark">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="loginModalLabel"><strong class="text-light text-opacity-75">Inicio de
                        sesión</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <form  #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-floating my-4">
                        <input 
                        [(ngModel)]="userName" 
                        name="userName"
                        type="text" class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            placeholder="user" id="userName" aria-describedby="userName" required>
                        <label for="userName" class="form-label">Usuario</label>
                    </div>
                    <div class="form-floating mb-5">
                        <input 
                        [(ngModel)]="password"
                        type="password"
                        name="password"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            id="password" placeholder="Password" novalidate>
                        <label for="password" class="form-label">Contraseña</label>
                    </div>
                    <button
                    [disabled]="!f.dirty"
                    type="submit" class="btn btn-primary btn-lg w-100 mb-4" data-bs-dismiss="modal">Iniciar Sesión</button>
                    <button (click)="newUser()" class="btn btn-outline-primary btn-lg w-100 mb-4" data-bs-dismiss="modal">Crea una cuenta</button>
                </form>
                
            </div>
        </div>
    </div>
</div>