<button type="button" class="dropdown-toggle border-0 bg-transparent text-light" data-bs-toggle="dropdown"
    data-bs-display="static" aria-expanded="false">
    <img src="./assets/imagenes/foto-perfil.webp" class="rounded-circle border border-primary" alt="" width="35">
</button>
<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark mt-2 mx-0 fs-5">
    <li><a class="dropdown-item py-3" href="#">Modificar Tema</a></li>
    <li><a class="dropdown-item py-3" routerLink="/mensajes">Ver Mensajes</a></li>
    <li><a class="dropdown-item py-3" href="#">Cerrar Sesion</a></li>
</ul>