<article>
  <div class="card bg-white bg-opacity-10 border-0 pt-2">
    <div id="educacion" class="scroll card-header d-flex justify-content-between border-bottom border-dark border-1 border-opacity-75 text-light text-opacity-75">
      <h3><strong>Educación</strong></h3>

      <app-trigger-add-item [addIdModal]="addIdModal" [addTitleTriggerModal]="addTitleTriggerModal"
        [addClassTriggerModal]="addClassTriggerModal"></app-trigger-add-item>

    </div>

    <div>

      <ul *ngFor="let education of educations" class="list-group list-group-flush">

        <li class="list-group-item bg-transparent border-bottom border-dark border-1 border-opacity-75 p-3">
          <div class="container">
            <div class="row">
              <div class="col-2 p-0">
                <img class="rounded-circle w-100" [src]=education.urlInstituteLogo alt="Logo">
              </div>
              <div class="col-10 text-light article-body">
                <div class="d-flex justify-content-between">
                  <h5 class="d-inline-block"><strong>{{education.institute}}</strong></h5>

                  <app-trigger-edit-item 
                    [editIdModal]="'#editEducationModal'+ education.id"
                    [editTitleTriggerModal]="editTitleTriggerModal"
                    [editClassTriggerModal]="editClassTriggerModal">
                  </app-trigger-edit-item>

                </div>
                <h6 class="opacity-75">{{education.title}}</h6>
                <div class="opacity-50">
                  <span>{{education.location}}</span> - <span
                    *ngIf="!education.currentStudy">{{dateStringToString(education.finishDate)}}</span><span
                    *ngIf="education.currentStudy">Actual</span>
                </div>
              </div>
            </div>
          </div>

          <app-edit-education-modal 
          [educForm]=educationToJsonDate(education) 
          [idModal]="'editEducationModal'+education.id">
          </app-edit-education-modal>

        </li>

      </ul>

    </div>
  </div>
  <app-add-education-modal></app-add-education-modal>

</article>