<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addProjModal" tabindex="-1"
    aria-labelledby="addProjModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-bg-dark container">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="addProjModalLabel"><strong class="text-light text-opacity-75">Agregar
                        proyecto</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <form class="col-12 col-md-10 container">
                    <div class="row gy-2">
                        <div class="col-12">
                            <label for="inputNombreproj" class="form-label opacity-75">Nombre del proyecto</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="inputNombreproj">
                        </div>
                        <div class="col-12">
                            <label for="inputImgproj" class="form-label opacity-75">Imagen</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="file" id="inputImgproj" accept="image/jpeg, image/webp, image/png">
                        </div>
                        <div class="col-12">
                            <label for="inputUrlproj" class="form-label opacity-75">Enlace</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="url" id="inputUrlproj" accept="image/jpeg, image/webp, image/png">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="inputDescripcionproj" class="form-label opacity-75">Descripción</label>
                            <textarea class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="inputDescripcionproj"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg w-100 mt-2 mb-4">Agregar
                                proyecto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>