<section id="contacto" class="scroll py-4 py-md-0 bg-black bg-opacity-10">
  <div class="container text-light">
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 col-lg-6">

        <form 
        [formGroup]="contactForm" 
        (ngSubmit)="submit($event)" 
        class="row g-4 needs-validation p-md-5"
        [ngClass]="{'was-validate': contactForm.invalid}" 
        novalidate
        >

          <div class="d-flex align-items-center justify-content-center pb-4">

            <h2 class="px-4 display-4">Escribeme</h2>
          </div>

          <div class="form-floating my-3">

            <input 
            formControlName="nombre" 
            type="text"
            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none" 
            placeholder="Nombre"
            id="validationTooltip00" 
            aria-describedby="nameHelp"
            [ngClass]="{'is-valid': isValidField('nombre'), 'is-invalid': isInvalidField('nombre')}" 
            required
            >

            <label for="validationTooltip00" class="form-label px-4">Nombre</label>

            <div class="invalid-tooltip mx-1">

              <span *ngIf="errorsFeedback('nombre', 'required')">El nombre es requerido.</span>

              <span *ngIf="errorsFeedback('nombre', 'minlength')">El nombre debe contener por lo menos
                {{ requiredType('nombre', 'minlength', 'requiredLength') }}
                caracteres.
              </span>

              <span *ngIf="errorsFeedback('nombre', 'maxlength')">El nombre debe contener menos de
                {{ requiredType('nombre', 'maxlength', 'requiredLength') }}
                caracteres.
              </span>

            </div>
          </div>

          <div class="form-floating my-3">

            <input 
            formControlName="email" 
            type="email"
            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none" 
            placeholder="Email"
            id="validationTooltip01" 
            aria-describedby="emailHelp"
            [ngClass]="{'is-valid': isValidField('email'), 'is-invalid': isInvalidField('email')}" required>

            <label for="validationTooltip01" class="form-label px-4">Email</label>

            <div class="invalid-tooltip mx-1">

              <span *ngIf="errorsFeedback('email', 'required')">El email es requerido.</span>

              <span *ngIf="errorsFeedback('email', 'pattern')">Por favor escribe un email valido.</span>

            </div>
          </div>


          <div class="form-floating my-3">

            <input 
            formControlName="asunto" 
            type="text"
            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none" 
            placeholder="Asunto"
            id="validationTooltip02" 
            aria-describedby="topicHelp"
            [ngClass]="{'is-valid': isValidField('asunto'), 'is-invalid': isInvalidField('asunto')}" 
            required
            >

            <label for="validationTooltip02" class="form-label px-4">Asunto</label>

            <div class="invalid-tooltip mx-1">

              <span *ngIf="errorsFeedback('asunto', 'required')">El asunto es requerido.</span>

              <span *ngIf="errorsFeedback('asunto', 'minlength')">El asunto debe contener por lo menos
                {{ requiredType('asunto', 'minlength', 'requiredLength') }}
                caracteres.
              </span>

              <span *ngIf="errorsFeedback('asunto', 'maxlength')">El asunto debe contener menos de
                {{ requiredType('asunto', 'maxlength', 'requiredLength') }}
                caracteres.
              </span>

            </div>
          </div>


          <div class="form-floating my-3">

            <textarea 
            formControlName="mensaje" 
            type="text"
            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none" 
            placeholder="Mensaje"
            id="validationTooltip03" 
            aria-describedby="mensajeHelp"
            [ngClass]="{'is-valid': isValidField('mensaje'), 'is-invalid': isInvalidField('mensaje')}" 
            required
            ></textarea>

            <label for="validationTooltip03" class="form-label px-4">Mensaje</label>
            
            
            <div class="invalid-tooltip mx-1">
            
              <span *ngIf="errorsFeedback('mensaje', 'required')">El mensaje es requerido.</span>
            
              <span *ngIf="errorsFeedback('mensaje', 'minlength')">Por favor escribe tu mensaje.</span>
            
              <span *ngIf="errorsFeedback('mensaje', 'maxlength')">El mensaje debe contener menos de
                {{ requiredType('mensaje', 'maxlength', 'requiredLength') }}
                caracteres.
              </span>
            
            </div>
          </div>

          <div class="col-12 text-center">
            <button 
            class="btn btn-lg btn-primary col-12 col-lg-6" 
            type="submit"
            [disabled]="contactForm.invalid"
            >Enviar
            </button>
            <div 
            *ngIf="alertSubmit"
            class="alert alert-success alert-dismissible mt-4"
            role="alert"
           
            >
              <span class="fs-5">Tu mensaje fue enviado con éxito.</span>
              <button type="button" class="btn-close" (click)="closeAlertSubmit()"></button>
            </div>
            
          </div>
          <p class="text-light fs-2"> </p> 
        </form>
      </div>
    </div>
  </div>
 
</section>