<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [id]="idModal" tabindex="-1"
    aria-labelledby="editExperienceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-bg-dark bg-dark container">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="editExperienceLabel"><strong class="text-light text-opacity-75">Editar
                        experiencia</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <form 
                (ngSubmit)="submit($event)" 
                [formGroup]="editExpForm"
                class="col-12 col-md-10 container">
                
                    <div class="row gy-2">
                        <div class="col-12">
                            <label for="upCargoExp4" class="form-label opacity-75">Cargo</label>

                            <input 
                            formControlName="position"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="text" id="upCargoExp4">
                        </div>
                        <div class="col-12">
                            <label for="upEmpresaExp1" class="form-label opacity-75">Empresa</label>

                            <input
                            formControlName="companyName" 
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="text" 
                            id="upEmpresaExp1">

                        </div>
                        <div class="col-12">
                            <label for="inputLogoExp4" class="form-label opacity-75">Logo de la empresa</label>
                            <input 
                            formControlName="urlCompanyLogo"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="file" 
                            id="inputLogoExp4" 
                            accept="image/jpeg, image/webp, image/png">
                        </div>
                        <div class="col-12 p-3">
                            <div class="col-12 form-check form-check-reverse form-switch">
                                <input 
                                formControlName="currentJob"
                                class="form-check-input" 
                                type="checkbox" 
                                role="switch"
                                id="flexSwitchCargoActual4" 
                                checked>
                                <label class="form-check-label opacity-75 text-opacity-50"
                                    for="flexSwitchCargoActual4">Actualmente en el cargo</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="imputMesInicioExp4" class="form-label opacity-75">Mes de Inicio</label>
                            <select 
                            formControlName="startMonthDate"
                            id="imputMesInicioExp4"
                            class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selectd hidden>Mes</option>
                                <option value=0>Enero</option>
                                <option value=1>Febrero</option>  
                                <option value=2>Marzo</option>
                                <option value=3>Abril</option>
                                <option value=4>Mayo</option>
                                <option value=5>Junio</option>
                                <option value=6>Julio</option>
                                <option value=7>Agosto</option>
                                <option value=8>Septiembre</option>
                                <option value=9>Octubre</option>
                                <option value=10>Noviembre</option>
                                <option value=11>Diciembre</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="imputAnioInicioExp4" class="form-label opacity-75">Año de inicio</label>
                            <select 
                            formControlName="startYearDate"
                            id="imputAnioInicioExp4"
                            class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Año</option>
                                <option value=1980>1980</option>
                                <option value=1981>1981</option>
                                <option value=1982>1982</option>
                                <option value=1983>1983</option>
                                <option value=1984>1984</option>
                                <option value=1985>1985</option>
                                <option value=1986>1986</option>
                                <option value=1987>1987</option>
                                <option value=1988>1988</option>
                                <option value=1989>1989</option>
                                <option value=1990>1990</option>
                                <option value=1991>1991</option>
                                <option value=1992>1992</option>
                                <option value=1993>1993</option>
                                <option value=1994>1994</option>
                                <option value=1995>1995</option>
                                <option value=1996>1996</option>
                                <option value=1997>1997</option>
                                <option value=1998>1998</option>
                                <option value=1999>1999</option>
                                <option value=2000>2000</option>
                                <option value=2001>2001</option>
                                <option value=2002>2002</option>
                                <option value=2003>2003</option>
                                <option value=2004>2004</option>
                                <option value=2005>2005</option>
                                <option value=2006>2006</option>
                                <option value=2007>2007</option>
                                <option value=2008>2008</option>
                                <option value=2009>2009</option>
                                <option value=2010>2010</option>
                                <option value=2011>2011</option>
                                <option value=2012>2012</option>
                                <option value=2013>2013</option>
                                <option value=2014>2014</option>
                                <option value=2015>2015</option>
                                <option value=2016>2016</option>
                                <option value=2017>2017</option>
                                <option value=2018>2018</option>
                                <option value=2019>2019</option>
                                <option value=2020>2020</option>
                                <option value=2021>2021</option>
                                <option value=2022>2022</option>
                                <option value=2023>2023</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="imputMesFinExp4" class="form-label opacity-75">Mes final</label>
                            <select 
                            formControlName="endMonthDate"
                            id="imputMesFinExp4"
                            class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Mes</option>
                                <option value=0>Enero</option>
                                <option value=1>Febrero</option>  
                                <option value=2>Marzo</option>
                                <option value=3>Abril</option>
                                <option value=4>Mayo</option>
                                <option value=5>Junio</option>
                                <option value=6>Julio</option>
                                <option value=7>Agosto</option>
                                <option value=8>Septiembre</option>
                                <option value=9>Octubre</option>
                                <option value=10>Noviembre</option>
                                <option value=11>Diciembre</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="imputAnioFinExp4" class="form-label opacity-75">Año final</label>
                            <select 
                            formControlName="endYearDate"
                            id="imputAnioFinExp4"
                                class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Año</option>
                                <option value=1980>1980</option>
                                <option value=1981>1981</option>
                                <option value=1982>1982</option>
                                <option value=1983>1983</option>
                                <option value=1984>1984</option>
                                <option value=1985>1985</option>
                                <option value=1986>1986</option>
                                <option value=1987>1987</option>
                                <option value=1988>1988</option>
                                <option value=1989>1989</option>
                                <option value=1990>1990</option>
                                <option value=1991>1991</option>
                                <option value=1992>1992</option>
                                <option value=1993>1993</option>
                                <option value=1994>1994</option>
                                <option value=1995>1995</option>
                                <option value=1996>1996</option>
                                <option value=1997>1997</option>
                                <option value=1998>1998</option>
                                <option value=1999>1999</option>
                                <option value=2000>2000</option>
                                <option value=2001>2001</option>
                                <option value=2002>2002</option>
                                <option value=2003>2003</option>
                                <option value=2004>2004</option>
                                <option value=2005>2005</option>
                                <option value=2006>2006</option>
                                <option value=2007>2007</option>
                                <option value=2008>2008</option>
                                <option value=2009>2009</option>
                                <option value=2010>2010</option>
                                <option value=2011>2011</option>
                                <option value=2012>2012</option>
                                <option value=2013>2013</option>
                                <option value=2014>2014</option>
                                <option value=2015>2015</option>
                                <option value=2016>2016</option>
                                <option value=2017>2017</option>
                                <option value=2018>2018</option>
                                <option value=2019>2019</option>
                                <option value=2020>2020</option>
                                <option value=2021>2021</option>
                                <option value=2022>2022</option>
                                <option value=2023>2023</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="upUbicacionExp1" class="form-label opacity-75">Ubicacion</label>
                            <input 
                            formControlName="location"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="text" 
                            id="upUbicacionExp1">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="upDescripcionExp1" class="form-label opacity-75">Descripción</label>
                            <textarea 
                            formControlName="description"
                            class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                            type="text" 
                            id="upDescripcionExp1">
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger btn-lg w-100  mt-2 mb-4">Eliminar</button>
                        </div>
                        <div class="col-6">
                            <button                             
                            [disabled]=editExpForm.invalid 
                            type="submit" 
                            class="btn btn-primary btn-lg w-100 mt-2 mb-4">Actualizar</button>
                        </div>
                    </div>
                    <input 
                    *ngIf=false
                    formControlName="id"
                    type="">
                </form>
            </div>
        </div>
    </div>
</div>