<div class="modal fade bg-opacity-100" data-bs-backdrop="static" data-bs-keyboard="false" id="addCertModal"
    tabindex="-1" aria-labelledby="addCertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-bg-dark container">
            <div class="modal-header border-light border-opacity-25">
                <h5 class="modal-title" id="addCertModalLabel"><strong class="text-light text-opacity-75">Agregar
                        certificación</strong></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <form class="col-12 col-md-10 container">
                    <div class="row gy-2">
                        <div class="col-12">
                            <label for="inputCertInst" class="form-label opacity-75">Institución</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="inputCertInst">
                        </div>
                        <div class="col-12">
                            <label for="inputCertTitulo" class="form-label opacity-75">Titulo</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="inputCertTitulo">
                        </div>
                        <div class="col-12">
                            <label for="inputCertLogoInst" class="form-label opacity-75">Logo de la
                                Institución</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="file" id="inputCertLogoInst" accept="image/jpeg, image/webp, image/png">
                        </div>
                        <div class="col-6">
                            <label for="imputMesFinCert" class="form-label opacity-75">Mes de finalización</label>
                            <select id="imputMesFinCert"
                                class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Mes</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="imputAnioFinCert" class="form-label opacity-75">Año de finalización</label>
                            <select id="imputAnioFinCert"
                                class="form-select text-bg-dark border border-3 border-light border-opacity-10 shadow-none">
                                <option selected hidden>Año</option>
                                <option value="1">1980</option>
                                <option value="2">1981</option>
                                <option value="3">1982</option>
                                <option value="4">1983</option>
                                <option value="5">1984</option>
                                <option value="6">1985</option>
                                <option value="7">1986</option>
                                <option value="8">1987</option>
                                <option value="9">1988</option>
                                <option value="10">1989</option>
                                <option value="11">1990</option>
                                <option value="12">1991</option>
                                <option value="13">1992</option>
                                <option value="14">1993</option>
                                <option value="15">1994</option>
                                <option value="16">1995</option>
                                <option value="17">1996</option>
                                <option value="18">1997</option>
                                <option value="19">1998</option>
                                <option value="20">1999</option>
                                <option value="21">2000</option>
                                <option value="22">2001</option>
                                <option value="23">2002</option>
                                <option value="24">2003</option>
                                <option value="25">2004</option>
                                <option value="26">2005</option>
                                <option value="27">2006</option>
                                <option value="28">2007</option>
                                <option value="29">2008</option>
                                <option value="30">2009</option>
                                <option value="31">2010</option>
                                <option value="32">2011</option>
                                <option value="33">2012</option>
                                <option value="34">2013</option>
                                <option value="35">2014</option>
                                <option value="36">2015</option>
                                <option value="37">2016</option>
                                <option value="38">2017</option>
                                <option value="39">2018</option>
                                <option value="40">2019</option>
                                <option value="41">2020</option>
                                <option value="42">2021</option>
                                <option value="43">2022</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="inputCertUbicacion" class="form-label opacity-75">Ubicacion</label>
                            <input class="form-control border-0 bg-light bg-opacity-10 text-light shadow-none"
                                type="text" id="inputCertUbicacion">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg w-100 mt-2 mb-4">Agregar
                                certificación</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>