<section id="skills" class="scroll pt-3 pb-5">
  <div class="container text-light">
    <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-5">
      <h2 class="px-4 display-4">Skills</h2>

      <app-trigger-add-item
        [addIdModal]="addIdModal" 
        [addTitleTriggerModal]="addTitleTriggerModal" 
        [addClassTriggerModal]="addClassTriggerModal"
      ></app-trigger-add-item>

    </div>
    <div class="row g-4 d-flex justify-content-center align-items-center">

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-75 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-solid fa-file-excel"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Excel</span>
            <small class="opacity-50 d-inline-block w-100">Avanzado</small>

            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
        
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-25 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-solid fa-cloud"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Azure</span>
            <small class="opacity-50 d-inline-block w-100">Basico</small>

            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>

          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-25 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-brands fa-java"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Java</span>
            <small class="opacity-50 d-inline-block w-100">Basico</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-50 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-brands fa-angular"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Angular</span>
            <small class="opacity-50 d-inline-block w-100">Intermedio</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-50 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-solid fa-chart-simple"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Power BI</span>
            <small class="opacity-50 d-inline-block w-100">Intermedio</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-75 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-brands fa-bootstrap"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Bootstrap</span>
            <small class="opacity-50 d-inline-block w-100">Avanzado</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-50 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-brands fa-wordpress-simple"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">Wordpress</span>
            <small class="opacity-50 d-inline-block w-100">Intermedio</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

      <article class="col col-sm-4 col-md-3 col-lg">
        <div class="text-center">
          <div
            class="progress-circle position-relative d-inline-block rounded-circle progress-50 border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i class="fa-solid fa-list-ol"></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">SEO</span>
            <small class="opacity-50 d-inline-block w-100">Intermedio</small>
            <app-trigger-edit-item 
            [editIdModal]="editIdModal" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
          </div>
        </div>
      </article>

    </div>
  </div>
  <app-add-skill-modal></app-add-skill-modal>
  <app-edit-skill-modal></app-edit-skill-modal>
</section>