<section id="skills" class="scroll pt-3 pb-5">
  <div class="container text-light">
    <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-5">
      <h2 class="px-4 display-4">Skills</h2>

      <app-trigger-add-item
        [addIdModal]="addIdModal" 
        [addTitleTriggerModal]="addTitleTriggerModal" 
        [addClassTriggerModal]="addClassTriggerModal"
      ></app-trigger-add-item>

    </div>
    <div class="row g-4 d-flex justify-content-center align-items-center">

      <article 
      *ngFor="let skill of skills" 
      class="col-4 col-md-3 col-lg ">
      
        <div class="text-center">
          <div
            [ngClass]=skillProgress(skill.level)
            class="progress-circle position-relative d-inline-block rounded-circle border border-2 border-primary border-opacity-50">
            <span
              class="text-bg-dark position-absolute rounded-circle border border-2 border-primary border-opacity-50">
              <i [class]=skill.iconName></i>
            </span>
          </div>
          <div class="text-center mt-1">
            <span class="d-inline-block w-100">{{ skill.title }}</span>
            <small class="opacity-50 d-inline-block w-100">{{ skill.level }}</small>

            <app-trigger-edit-item 
            [editIdModal]="'#editIdModal'+ skill.id" 
            [editTitleTriggerModal]="editTitleTriggerModal" 
            [editClassTriggerModal]="editClassTriggerModal"
            ></app-trigger-edit-item>
        
          </div>
        </div>

      <app-edit-skill-modal
      [idModal]="'editIdModal'+ skill.id"
      [skill]=skill   
      ></app-edit-skill-modal>
      </article>


    </div>
  </div>
  <app-add-skill-modal></app-add-skill-modal>
  
</section>