<section class="container pt-md-2">
  <div class="row">
    <div class="col-12 col-md-3 pb-2 pb-md-0">
      <img src="./assets/imagenes/foto-perfil.webp"
        class="profile-pic rounded-circle d-block mx-auto border border-primary border-5 border-opacity-75 img-fluid"
        alt="">
      <app-trigger-edit-item 
      [editIdModal]="editIdModalPic" 
      [editTitleTriggerModal]="editTitleTriggerModalPic" 
      [editClassTriggerModal]="editClassTriggerModalPic"
      ></app-trigger-edit-item>
    </div>
    <!-- Profile name -->
    <div class="col-12 col-md-9 row">
      <div class="text-center text-md-start">
        <h1 class="d-inline-block text-light text-md-start px-md-4"><strong>Lenin Quintero</strong></h1>
        
        <app-trigger-edit-item 
        [editIdModal]="editIdModalTitle" 
        [editTitleTriggerModal]="editTitleTriggerModalTitle" 
        [editClassTriggerModal]="editClassTriggerModalTitle"
        ></app-trigger-edit-item>
        
      </div>
      <!-- Profile title -->
      <div class="col-12">
        <h2 class="text-center h3 text-light text-md-start px-md-4 text-opacity-75 ">Full Stack Developer Jr</h2>
      </div>
    </div>
  </div>
  <app-edit-profile-picture-modal></app-edit-profile-picture-modal>
  <app-edit-profile-title-modal></app-edit-profile-title-modal>
</section>